<footer class="footer" id="contact">
    <div class="footer__map" id="map"></div>

    <div class="footer__info">
        <div class="footer__info-logo-social">
            <span class="footer__info-logo"></span>
            <span class="footer__info-social"></span>
        </div>
        <div class="footer__info-copy-made">
            <span class="footer__info-copy"></span>
            <span class="footer__info-made"></span>
        </div>
    </div>
    
    <div class="footer__contact">

    </div>
    </footer>
