<footer class="footer" id="contact">
    <div class="footer__map" id="map"></div>

    <div class="footer__info">
        <div class="container">
            <div class="footer__info-logo-social">
                <span class="footer__info-logo"><img src="images/logo.svg" alt="logo"></span>
                <span class="footer__info-social social">
                    <ul class="social__list">
                        <li class="social__item">
                          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social__item">
                          <a href="https://twitter.com/"><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li class="social__item">
                          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="footer__info-copy-made">
                <span class="footer__info-copy"></span>
                <span class="footer__info-made"></span>
            </div>
        </div>
    </div>
    
    <div class="footer__contact">

    </div>
    </footer>
