<footer class="footer" id="contact">
    <div class="footer__map" id="map"></div>

    <div class="footer__info">
        <div class="container">
            <div class="footer__info-logo-social">
                <span class="footer__info-logo"><img src="images/logo.svg" alt="logo"></span>
                <span class="footer__info-social social">
                    <ul class="social__list">
                        <li class="social__item">
                          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social__item">
                          <a href="https://twitter.com/"><i class="fab fa-twitter"></i>
                          </a>
                        </li>
                        <li class="social__item">
                          <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="footer__info-copy-made">
                <span class="footer__info-copy">Copyrights © 2017 Monticello Group</span>
                <span class="footer__info-made">Made with <i class="fas fa-heart"></i> by Ga Huy</span>
            </div>
        </div>
    </div>
    
    <div class="footer__contact contact">
        <div class="contact__divider divider"></div>
        <h2 class="contact__title title">get in touch</h2>
        <div class="contact__wrapper">
            <div class="contact__data">
                <span class="contact__address">
                    <i class="fas fa-map-marker-alt contact__icon"></i>91 Nolan Extensions Suite 670
                </span>
                <span class="contact__tel">
                    <i class="fas fa-phone-alt contact__icon"></i>+001 356-868-2454'
                </span>
                <span class="contact__mail">
                    <i class="fas fa-inbox contact__icon"></i>gahuy93@gmail.com
                </span>
                <span class="contact__time">
                    <i class="far fa-clock contact__icon"></i>From 07:05AM to 19:30PM
                </span>
            </div>
            <div class="contact__form-wrapper">
                <form action="#" class="contact__form">
                    <input type="text" class="contact__input">
                    <input type="email" class="contact__email">
                    <button class="contact__button">submit</button>
                </form>
            </div>
        </div>
    </div>
    </footer>
