<section class="section-gallery">
    <div class="container section-gallery__container">
        <div class="section-gallery__divider divider"></div>
        <h2 class="section-gallery__title title">gallery</h2>

        <div class="section-gallery__image-box">
            <div class="section-gallery__col-wrapper">
                <div class="section-gallery__col">
                    <img class="section-gallery__image--earth"  src="images/gallery_360.png" alt="gallery_360">
                    <img class="section-gallery__image" src="images/gallery_1.png" alt="gallery_1">
                </div>
                <div class="section-gallery__col">

                    <div class="section-gallery__row">
                        <div class="section-gallery__image-wrapper section-gallery__image-wrapper--first-row">
                            <img class="section-gallery__image" src="images/gallery_2.png" alt="gallery_2">
                        </div>
                        <div class="section-gallery__image-wrapper">
                            <img class="section-gallery__image" src="images/gallery_3.png" alt="gallery_3">
                        </div> 
                    </div>
                    <div class="section-gallery__row">
                        <div class="section-gallery__image-wrapper section-gallery__image-wrapper--second-row">
                            <img class="section-gallery__image" src="images/gallery_4.png" alt="gallery_4">
                        </div>
                        <div class="section-gallery__image-wrapper">
                            <img class="section-gallery__image" src="images/gallery_5.png" alt="gallery_5">
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <a class="section-gallery__button button" href="#">see more</a>
    </div>
</section>