.footer {
    position: relative;

    &__map {
        width: 100%;
        height: 700px;
        margin: 0;
      padding: 0;
    }

    &__info {
        background-image: url(../images/footer_bg.png);
        @include background-image;
        padding: 200px 0;
    }

    &__info-logo-social {
        @include flex (space-between, center);
        margin-bottom: 40px;
    }

    &__info-copy-made {
        @include text($H100, 400, $white);
        line-height: 22px;
    }

    &__info-copy {
        padding-right: 20px;
        border-right: 1px solid $white;
    }

    &__info-made {
        padding-left: 20px;
    }

    &__contact {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);;
        bottom: 30%;

    }
}
