.header {
    height: 100vh;
    background-image: url(../images/header_bg.png);
    @include background-image;
    @include flex(center, center, column); 

    &__glide {
       
    }

    &__glide-container {
        padding: 0;
        @include flex(center, flex-start); 
    }

    &__glide-track {
        margin: 0 auto;
        text-align: center;
    }

    &__glide-slides {
        
    }

    &__glide-title {
        @include text($H400, 700, $white);
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        padding: 0 30px;

        @include media ($screen-tablet) {
            @include text($H500, 700, $white);
            padding-top: 20px;
        }

        @include media {
            @include text($H600, 700, $white);
        }
    }

    &__glide-subtitle {
        @include text($H100, 400, $white);
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        margin-bottom: 35px;
        text-align: center;
        padding: 0 35px;
       
        @include media {
            @include text($H300, 400, $white);
        }
    }

    &__scroll {
        position: absolute;
        bottom: 50px;
    }
}
