.section-what-do {
    padding: 50px 0 50px;

    @include media {
        padding: 100px 0 140px;
    }

    &__container {
        @include flex(center, center, column); 
    }

    &__divider {
        width: 100px;
        height: 1px;
        background-color: $dark;
        margin-bottom: 40px;
    }

    &__title {
        @include text($H500, 700);
        line-height: 22px;
        text-transform: uppercase;
        // text-align: center;
        margin-bottom: 100px;
    }

    &__row {
        width: 100%;
        @include flex(center, center, column);

        &--second {
            @include flex(center, center, column-reverse);
        }

        @include media {
            @include flex(flex-start, center);
            &:not(:last-of-type) {
                margin-bottom: 200px;
            } 
        }
    }

    &__image-box {
        @include flex(center, center, column);
        width: 100%;
        position: relative;
        margin-bottom: 30px;

        &--first {
            margin-right: 0px; 
        }

        @include media {
            @include flex(flex-start, center, column);
            width: 60%;
            margin-bottom: 0px;

            &--first {
                margin-right: 70px; 
            }
        }
           
    }
    // &__image-bcg {
    //     position: absolute;
    //     width: 630px;
    //     height: 270px;
    //     background-color: $blue;
    //     transform: translateY(-200px);
    // } 

    &__image {
       width: 80%;
       text-align: center;
    }

    &__content {
        @include flex(center, center, column);
        width: 100%;

        @include media {
            @include flex(flex-start, flex-start, column);
            width: 40%;
        }
    }

    &__content-subtitle {
        @include text($H400, 400);
        line-height: 24px;
        text-transform: uppercase;
    }

    &__content-title {
        @include text($H500, 700);
        margin-bottom: 35px;
    }

    &__content-text {
        @include text($H300, 400, $grey);
        font-family: $secondary-font;
        line-height: 30px;
        margin-bottom: 35px;
    }

    &__content-button {
        margin-bottom: 40px;

        @include media {
            margin-bottom: 80px;
        }
    }

    &__content-info {
        display: block;
        @include text($H300, 400);
        font-family: $secondary-font;
        font-style: italic;
        margin-bottom: 30px;

        i {
           margin-right: 15px; 
        }

        
        @include media {
            margin-bottom: 0px;
        }

    }
}

