.section-news {
    background-image: url(../images/header_bg.png);
    @include background-image;
    padding: 80px 0;

    @include media {
        padding: 140px 0;
    }

    &__container {
        @include flex(flex-start, center, column); 
    }

    &__divider {
        margin-bottom: 40px;
    }

    &__title { 
        margin-bottom: 60px;

        @include media {
            margin-bottom: 100px;
        }
    }

    &__slider {
        width: 90%;

        @include media($screen-desktop-large){
            width: 100%;
        }
    }

}

