.section-what-do {
    padding-top: 50px;

    @include media {
        padding: 100px 0 140px;
    }
    @include media($screen-desktop-large) {
        padding: 100px 0 140px;
    }

    &__container {
        @include flex(center, center, column); 
    }

    &__divider {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 60px;

        @include media($screen-tablet) {
            margin-bottom: 100px;
        }
        @include media($screen-desktop-large) {
            margin-bottom: 170px;
        }
    }

    &__row {
        width: 100%;
        @include flex(center, center, column);
        margin-bottom: 80px;

        &--second {
            @include flex(center, center, column-reverse);
        }

        @include media($screen-tablet) {
            @include flex(flex-start, center);
        }
        @include media {
            &:not(:last-of-type) {
                margin-bottom: 200px;
            } 
        }
    }

    &__image-box {
        @include flex(center, center, column);
        @include padding-hack(75%);
        max-width: 630px;
        width: 100%;
        position: relative;
        margin-bottom: 30px;
        // background-color: red;

        @include media($screen-tablet) {
            @include flex(flex-start, center, column);
            margin-bottom: 0px;
            @include padding-hack(32%);
            width: 80%;
        }
        @include media {
            @include padding-hack(35%);
            width: 100%;
        }

        &--first {
            margin-right: 0px; 

            @include media($screen-tablet) {
                margin-right: 30px; 
            }
            @include media {
                margin-right: 70px; 
            }
        } 
    }

    &__image-bcg {
        position: absolute;
        max-width: 585px;
        height: 470px;
        background-color: $blue;
        top: -24px;
        left: -24px;
        z-index: -1;
        width: 100%;
        height: 100%;

        &--second {
            background-color: $dark-blue;
            max-width: 585px;
            left: 24px;
        }

        @include media($screen-desktop-large) {
            top: -70px;
            left: -235px;

            &--second {
                left: 235px;
            }
        }
    } 

    &__content {
        @include flex(center, center, column);
        width: 100%;

        @include media($screen-tablet) {
            @include flex(flex-start, flex-start, column);
            
            &--second {
                padding-right: 70px;
            }
        }
    }

    &__content-subtitle {
        @include text($H300, 400);
        line-height: 24px;
        text-transform: uppercase;

        @include media($screen-tablet) {
            @include text($H400, 400);
        }
    }

    &__content-title {
        @include text($H400, 700);
        margin-bottom: 20px;

        @include media($screen-tablet) {
            @include text($H500, 700);
            margin-bottom: 35px;
        }
    }

    &__content-text {
        @include text($H300, 400, $grey);
        font-family: $secondary-font;
        line-height: 30px;
        margin-bottom: 35px;
    }

    &__content-button {
        margin-bottom: 40px;

        @include media($screen-desktop-large) {
            margin-bottom: 80px;
        }
    }

    &__content-info {
        display: block;
        @include text($H200, 400);
        font-family: $secondary-font;
        font-style: italic;

        i {
           margin-right: 15px; 
        }
    
        @include media($screen-tablet) {
            @include text($H300, 400);
        }
    }
}

