.button {
    display: inline-block;
    @include text($H100, 400);
    line-height: 22px;
    text-transform: uppercase;
    padding: 20px 41px;
    border: 1.0px solid $dark;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;

    @include media($screen-desktop) {
        &:hover {
            background-color: $blue;
            color: $white;
            outline: none;
            border: none;
        }
        &:focus {
            border: 2.0px solid $blue;
            color: $blue;
            background-color: $white;
            font-weight: 700;
        }
    }    
}