.contact {
    margin: 0 auto;
    max-width: 770px;
    width: 100%;
    @include flex(flex-start, center, column); 
    background-image: url(../images/footer_contact_bg.png);
    @include background-image;
    
    padding: 80px 24px;
    z-index: 5;

    @include media($screen-tablet) {
        padding: 60px;
        background-size: auto;
    } 

    &__divider {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 55px;
    }

    &__wrapper {
        @include flex(flex-start, flex-start, column); 
        width: 100%;

        @include media($screen-tablet) {
            @include flex(flex-start, flex-start); 
            
        } 
    }    

    &__list {
        width: 100%;
        @include flex(flex-start, flex-start, column); 
        margin-bottom: 40px;

        @include media {
            width: 50%;
            margin-bottom: 0;
        } 
    }

    &__item {
        @include text($H300, 400, $dark);
        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }

    &__icon {
        color: $dark-blue;
        margin-right: 10px;
    }

    &__form-wrapper {
        width: 100%;

        @include media {
            width: 50%;
            padding-left: 15px;
        } 
    }

    &__form {
        @include flex(flex-start, flex-end, column); 
    }

    &__input {
        @include text($H300, 400, $dark);
        line-height: 22px;
        width: 100%;
        height: 40px;
        border: none;
        border-bottom: 1px solid $dark;
        outline: none;
        margin-bottom: 30px;

        &:placeholder-shown {
            @include text($H300, 400, $placeholder-color);
            opacity: 0.5;
            line-height: 22px;
            padding-bottom: 15px;
        }

        &:last-of-type {
            margin-bottom: 30px;
        }
    }
}



